/* Add this to your global CSS or a custom stylesheet */
@media (max-width: 1023px), (min-width: 1441px) {
  .feature-container {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  .feature-text {
    width: 100%;
  }

  .feature-icon {
    margin: 0 auto 1rem;
  }
}
 @media (max-width:639px){
  .feature-container{
    flex-direction: column-reverse;
  }
  .feature-cards{
    width: 100%;
    background-color: red;
  }
  
 }
