.menu-container{
    display: none;
}
.menu{
    display: none;
}
@media only screen and (max-width: 900px){
    .ul{
        display: none;
    }
    .menu-container{
        display: flex;
        z-index: 41;
        cursor: pointer;
    }
   .menu{
    width:80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow-x: hidden;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 40;
   }
   .slide-out{
    width: 80%;
   }
   .slide-in{
    width: 0px;
   }
}
 

