/* Default styles for large screens */
.fot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fot-card {
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fot-header {
  font-size: 2rem;
  color: #1e40af;
  margin-bottom: 1rem;
}

.fot-text {
  font-size: 1rem;
  color: #4b5563;
}

/* Responsive for laptop screens (1024px to 1440px) */
@media (max-width: 1440px) and (min-width: 1024px) {
  /* .fot-card {
    width: 48%; 
  } */
  .fot-container {
    justify-content: space-between; 
  }
}

/* Responsive for smaller screens (tablets) */
@media (max-width: 1024px) {
  /* .fot-card {
    width: 48%;
  } */
}

/* Responsive for mobile screens (phones) */
@media (max-width: 768px) {
  .fot-container {
    justify-content: center;
  }

  .fot-card {
    width: 90%; /* Cards take full width */
    margin-bottom: 20px;
  }
}
