@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay{
    position: relative;
    
}
.overlay::after{
    content: '';
    position: absolute;
    width: 100%;
    background-color: rgba(33, 36, 230, 0.212);
    height: 100%;
    top:0;
    left :0;
}
.menu-container{
    display: none;
}
.menu{
    display: none;
}
@media only screen and (max-width: 900px){
    .ul{
        display: none;
    }
    .menu-container{
        display: flex;
        z-index: 41;
        cursor: pointer;
    }
   .menu{
    width:80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow-x: hidden;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 40;
   }
   .slide-out{
    width: 80%;
   }
   .slide-in{
    width: 0px;
   }
}








